<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="sourceFilePath" value="D:\Visual Studio 2017\NET1.A.2018.Zhuravskaya.17\SourceText.txt"/>
    <add key ="destinationFilePath" value="D:\Visual Studio 2017\NET1.A.2018.Zhuravskaya.17\Destination.txt"/>
  </appSettings>
  
</configuration>